apiVersion: apps/v1
kind: Deployment

metadata:
  name: hpa-demo

spec:
  replicas: 1

# 관리할 파드 식별 라벨 
  selector:
    matchLabels:
      app: hpa-demo

# 생성할 파드의 템플릿 
  template:
    metadata:
      labels:
        app: hpa-demo

# 실행할 컨테이너들 
    spec:
      containers:
        - name: express
          image: kjmiim/k8s-hpa:latest
          ports:
            - containerPort: 3000

          resources:
            requests:
              cpu: "100m"
            limits:
              cpu: "200m"